<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :discount %><br>
    <%= f.text_field :discount %>
  </div>
  <div class="field">
    <%= f.label :brute %><br>
    <%= f.text_field :brute %>
  </div>
  <div class="field">
    <%= f.label :net %><br>
    <%= f.text_field :net %>
  </div>
  <div class="field">
    <%= f.label :payed %><br>
    <%= f.check_box :payed %>
  </div>
  <div class="field">
    <%= f.label :payed_at %><br>
    <%= f.datetime_select :payed_at %>
  </div>
  <div class="field">
    <%= f.label :customer_id %><br>
    <%= f.text_field :customer_id %>
  </div>
  <div class="field">
    <%= f.label :waiter_id %><br>
    <%= f.text_field :waiter_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
